@import "normalize.css";
//
html,body{
  margin: 0;
  padding: 0;
  font: 10px/1em normal "Arial", sans-serif;
  //overflow: hidden;
  background: #eee;
}
#site{
  width:100%;
  height:100%;
  position: absolute;
  &.page-gallery{
    overflow: hidden;
  }
}

#workshop{
  //background-color : #ccc ;
  //background :url(../images/layout.png) no-repeat center center;
  background-size:cover;
  transform-origin: top left;
  left:50%;
  top:50%;
  /*
  transform: scale(.5) translate(-640px, -400px);
  @media screen and (min-height: 620px) and (min-width:1000px) {
    transform: scale(.75) translate(-640px, -400px);
  }
  @media screen and (min-height: 800px) and (min-width: 1280px) {
    transform: translate(-640px, -400px);
  }
  */

}
#workshop, #paper{
  //border: solid 1px #ccc;
}
#paper, h1{
  position: absolute;
  margin: auto;
  box-sizing: border-box;
}
h1{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1{
  width:200px;
  bottom:auto;
  img{
    width:100%;
    height:auto;
  }
}

#workshop, .gallery{
  position: absolute;
  width:1280px;
  height:800px;
}

#paper{
  width:420px;
  height:594px;
  position: absolute;
  top:100px;
  left:430px;
  background: #fff;
  .new &{
    display: none;
  }
}

form {
  width:100%;
  height:100%;
  #workshop.new &{
    visibility: hidden;
    opacity: 0;
  }
}
.uploader{
  position:absolute;
  margin: auto;
  top:120px;
  left:0;
  right:0;
  padding: 0 0 120px;
  visibility: hidden;
  opacity: 0;
  font-size:30px;
  width: 800px;

  #workshop.new &{
    visibility: visible;
    opacity: 1;
  }
}

p, label {
  font-size: 14px;
  line-height: 1.5em;
}

canvas{
  position:absolute;
}


label {
  position:absolute;
  font-size: 1.6em;
  display: block;
  margin: 0;
  width: 172px;
  input {
    margin: 5px 0;
    width:100%;
  }
  &.range{
    background: url(../images/barre.png);
    background-size: cover;
    background-position: center center ;
  }
  &.glitch{
    // modifie la position des slider des glitch
    left: 200px;
    &.seed{
      top: 105px;
    }
    &.amount{
      top: 140px;
    }
    &.iterations{
      left: 120px;
      top: 276px;
    }
    &.quality{
      top: 536px;
    }
  }
  &.blur{
    &.radius{
      left: 910px;
      top: 535px;
    }
  }
  &.noise{
    left:1080px;
    &.n1{
      top:730px;
    }
    &.n2{
      top:760px;
    }
  }
}

.draganddropimage{
  position:absolute;
  outline: none;
  z-index:1;
  /*
  &:focus,&.dragged{
    outline:10px solid transparentize(red,0.5);
  }
  &.can-drop{
    outline:10px dotted transparentize(#0F0, 0.8);
  }*/
  &.dropped{
    pointer-events: none;
    opacity: 0;
  }
}

#sharer,.sharer{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  width:200px;
  height:100px;
  appearance: none;
  -webkit-appearance:none;
  color:transparent;
  background:url(../images/partager.png);
  background-size:80%;
  background-position: center;
  background-repeat:no-repeat;
  outline:none;
  border:none;
  &.load{
    pointer-events: none;
    background-image: url(../images/loading-bubbles.svg);
    background-size: 100px;
  }
}

.sharing{
  #sharer{
    display: none;
  }
  .shareform{
    display: block;
  }
  > form{
    pointer-events: none;
  }
}


.dropzone{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left:0;
}

.waiting{
    content:' ';
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    //background: rgba(255, 255, 255,.9);
    position:fixed;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.shareform{
  width: 420px;
  height: 594px;
  position: absolute;
  top: 100px;
  left: 430px;
  background: #ccc;
  display:none;
  padding:20px;
  box-sizing: border-box;
  p{
  }

  form{
    width: 70%;
    height:auto;
    margin: auto;
    position:relative;
    padding: 0 0 20px;

  }
  label{
    position:static;
    width:100%;
    margin: 0;
    line-height:30px;
    float: none;
  }
  input{
    width: 100%;
    display: block;
    border: none;
    height: 30px;
    margin: 0 0 10px;
    font-size:14px;
    color:#eee;
    background:#000;
    outline:none;
    &[type=text]{
      text-indent:10px;
      &:focus{
        background:#666;
      }
    }
    &[type=submit]{
      background:none;
      color:#000;
      font-weight: bold;
      &:hover{
        background:#fff;
      }
    }
  }
}

//
//
//

input[type=range] {
  -webkit-appearance: none;
  border: 0px solid transparent;
  background:none;
  //
  &::-webkit-slider-runnable-track{
    width: 100%;
    height: 16px;
    background:none;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s;
  }
  &::-moz-range-track{
    width: 100%;
    height: 16px;
    background:transparent;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s;
  }
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -webkit-transition: 1s;
  }
  &::-moz-range-thumb{
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -moz-transition: 1s;
  }
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track{
      //background: #ccc;
    }
    &::-moz-range-track{
      //background: #ccc;
    }
  }
  &:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
  }

}

.gallery{
  margin:auto;
  left:50%;
  top:50%;
  h1{
    z-index: 1;
  }
  .space,.group{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  perspective: 400px;
  .space,.group{
    transform-style: preserve-3d;
  }
}

.space {
  position: absolute;
  .item {
    position: absolute;
    width: 420px;
    height: 594px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: fadein 1s both;
    -webkit-animation: fadein 1s both;

    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    transition: opacity .5s;
    //
    &.run{
      animation:none;
      -webkit-animation:none;
    }
    //
    @for $i from 0 through 20{
      &.item-#{$i}{
        animation-delay: $i*0.1s;
        -webkit-animation-delay: $i*0.1s;
      }
    }
  }
  img{
    display: block;
  }
  .use{

    font-size:24px;
    border: none;
    appearance: none;
    -webkit-appearance:none;
    display: block;
    position: absolute;
    width: 80%;
    padding: 30px;
    height:5em;
    line-height: 30px;
    box-sizing: border-box;
    bottom:0;
    top:0;
    right:0;
    left:0;
    margin:auto;
    background: transparentize(#fff, .3);
    visibility: hidden;
    opacity: 0;
    transition:.3s;
    text-align: center;
    outline: none;
    &:hover{
      background: transparentize(#fff, .1);
    }
  }
  .item.focus{
    .use{
      visibility: visible;
      opacity: 1;
    }
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.admin{
  font-size:16px;
  .file{
    border-bottom:solid 1px #eee;
    &:after{
      display: block;
      content:' ';
      clear: both;
      width:100%;
    }
    .title{
      padding: 10px;
      line-height: 59px;
      background: #fff;
    }
    .thumb {
      width: 42px;
      height: auto;
      vertical-align: middle;
      margin: 0 20px 0 0;
    }
    .options{
      display: none;
      line-height: 20px;
      padding: 20px;
      &:after{
        content:' ';
        display: block;
        clear: both;
      }
      img.fullsize{
        float: right;
      }
    }
  }
}