@import url(normalize.css);
html, body {
  margin: 0;
  padding: 0;
  font: 10px/1em normal "Arial", sans-serif;
  overflow: hidden;
  background: #eee; }

#workshop {
  background: #ccc; }

#workshop, #paper {
  border: solid 1px #ccc; }

#workshop, #paper, h1 {
  position: absolute;
  margin: auto;
  box-sizing: border-box; }

#workshop, h1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

h1 {
  width: 200px;
  bottom: auto; }
  h1 img {
    width: 100%;
    height: auto; }

#workshop {
  position: absolute;
  width: 1280px;
  height: 800px; }

#paper {
  width: 420px;
  height: 594px;
  position: absolute;
  top: 100px;
  left: 430px;
  background: #eee; }

form {
  width: 100%;
  height: 100%; }

label {
  position: absolute;
  font-size: 1.6em;
  display: block;
  margin: 0;
  width: 172px; }
  label input {
    margin: 5px 0;
    width: 100%; }
  label.range {
    background: url(../images/barre.png);
    background-size: cover;
    background-position: center center; }
  label.glitch.seed {
    left: 210px;
    top: 70px; }
  label.glitch.amount {
    left: 220px;
    top: 100px; }
  label.glitch.iterations {
    left: 110px;
    top: 200px; }
  label.glitch.quality {
    left: 200px;
    top: 500px; }
  label.blur.radius {
    left: 1040px;
    top: 540px; }

.draganddropimage {
  position: absolute;
  outline: none;
  z-index: 1; }
  .draganddropimage:focus, .draganddropimage.dragged {
    outline: 10px solid rgba(255, 0, 0, 0.5); }
  .draganddropimage.can-drop {
    outline: 10px dotted rgba(0, 255, 0, 0.2); }
  .draganddropimage.dropped {
    pointer-events: none;
    opacity: 0; }

#sharer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 100px;
  appearance: none;
  -webkit-appearance: none;
  color: transparent;
  background: url(../images/partager.png);
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  border: none; }

.dropzone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.waiting {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8); }

input[type=range] {
  -webkit-appearance: none;
  border: 0px solid transparent;
  background: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: none;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -webkit-transition: 1s; }
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -moz-transition: 1s; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px; }

/*# sourceMappingURL=main.css.map */