<p>Merci !</p>

		<p>Lorsque votre production aura été complétée par d’autres participants,
			vous pourrez recevoir une version imprimée de votre image sous une forme « surprise ».</p>
<p> À cette effet, vous pouvez nous communiquer vos noms et adresse :</p>
<form>
	<label for="username">Nom et prénom</label>
	<input type="text" name="username" id="username"/>
	<label for="address">Adresse</label>
	<input type="text" name="address" id="address"/>
	<label for="email">Mail</label>
	<input type="text" name="email" id="email"/>
	<input type="submit" value="envoyer"/>
</form>
<p>non merci, accéder à la <a href="gallery">galerie</a></p>