<p>Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis
	ingenii, considerans incitationem eius ad multorum augeri discrimina,
	non maturitate vel consiliis mitigabat,
	ut aliquotiens celsae potestates iras principum molliverunt,
	sed adversando iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat,
	Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente,
	ne lateret adfectans. quibus mox Caesar acrius efferatus,
	velut contumaciae quoddam vexillum altius erigens,
	sine respectu salutis alienae vel suae ad vertenda
	opposita instar rapidi fluminis irrevocabili impetu ferebatur.</p>
<p>Nec piget dicere avide magis hanc insulam populum Romanum invasisse quam iuste.
	Ptolomaeo enim rege foederato nobis
	et socio ob aerarii nostri angustias iusso sine ulla culpa proscribi ideoque hausto
	veneno voluntaria morte deleto et tributaria facta est et velut hostiles eius exuviae
	classi inpositae in urbem advectae sunt per Catonem, nunc repetetur ordo gestorum.
</p>
		<p>
			<a href="gallery">voir la galerie</a>
		</p>
<button class="sharer">participer</button>