<div id="workshop">

	<h1><a href="."><img src="public/images/logo_img.png" alt="&lt; img &gt;"/></a></h1>

	<form>


		<label class="range glitch amount">
			<input type="range" id="glitch-amount" value="0" min="0" max="99"/>
		</label>
		<label class="range glitch seed">
			<input type="range" id="glitch-seed" value="0" min="0" max="100"/>
		</label>
		<label class="range glitch iterations">
			<input type="range" id="glitch-iterations" value="1" min="1" max="50"/>
		</label>
		<label class="range glitch quality">
			<input type="range" id="glitch-quality" value="99" min="1" max="99"/>
		</label>

		<label class="range blur radius">
			<input type="range" id="blur-radius" value="0" min="0" max="20"/>
		</label>

		<label class="range noise n1">
			<input type="range" id="noise-n1" value="0" min="0" max="255"/>
		</label>

		<img class="draganddropimage" id="doodle5" data-x="80" data-y="540" src="public/images/doodle5.png"/>
		<img class="draganddropimage" id="doodle7" data-x="200" data-y="-10" src="public/images/doodle7.png"/>
		<img class="draganddropimage" id="doodle8" data-x="926" data-y="616" src="public/images/doodle8.png"/>
		<img class="draganddropimage" id="doodle10" data-x="1110" data-y="590" src="public/images/doodle10.png"/>
		<img class="draganddropimage" id="doodle12" data-x="1130" data-y="265" src="public/images/doodle12.png"/>

		<button id="sharer">share transformations</button>


	</form>
	<div id="paper">
		<canvas id="buffer" width="420" height="594"></canvas>
		<canvas id="canvas" width="420" height="594"></canvas>
	</div>

	<div class="uploader"></div>

	<div class="shareform"></div>


</div>