@import url(normalize.css);
html, body {
  margin: 0;
  padding: 0;
  font: 10px/1em normal "Arial", sans-serif;
  overflow: hidden;
  background: #eee; }

#workshop {
  background-size: cover;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(0.5) translate(-640px, -400px);
      -ms-transform: scale(0.5) translate(-640px, -400px);
          transform: scale(0.5) translate(-640px, -400px); }
  @media screen and (min-height: 620px) and (min-width: 1000px) {
    #workshop {
      -webkit-transform: scale(0.75) translate(-640px, -400px);
          -ms-transform: scale(0.75) translate(-640px, -400px);
              transform: scale(0.75) translate(-640px, -400px); } }
  @media screen and (min-height: 800px) and (min-width: 1280px) {
    #workshop {
      -webkit-transform: translate(-640px, -400px);
          -ms-transform: translate(-640px, -400px);
              transform: translate(-640px, -400px); } }

#paper, h1 {
  position: absolute;
  margin: auto;
  box-sizing: border-box; }

h1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

h1 {
  width: 200px;
  bottom: auto; }
  h1 img {
    width: 100%;
    height: auto; }

#workshop {
  position: absolute;
  width: 1280px;
  height: 800px; }

#paper {
  width: 420px;
  height: 594px;
  position: absolute;
  top: 100px;
  left: 430px;
  background: #fff; }

form {
  width: 100%;
  height: 100%; }
  #workshop.new form {
    visibility: hidden;
    opacity: 0; }

.upload-image-help {
  position: absolute;
  right: 50%;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  font-size: 30px;
  pointer-events: none; }
  #workshop.new .upload-image-help {
    visibility: visible;
    opacity: 1; }

canvas {
  position: absolute; }

label {
  position: absolute;
  font-size: 1.6em;
  display: block;
  margin: 0;
  width: 172px; }
  label input {
    margin: 5px 0;
    width: 100%; }
  label.range {
    background: url(../images/barre.png);
    background-size: cover;
    background-position: center center; }
  label.glitch {
    left: 200px; }
    label.glitch.seed {
      top: 105px; }
    label.glitch.amount {
      top: 140px; }
    label.glitch.iterations {
      left: 120px;
      top: 276px; }
    label.glitch.quality {
      top: 536px; }
  label.blur.radius {
    left: 910px;
    top: 535px; }
  label.noise {
    left: 1080px; }
    label.noise.n1 {
      top: 730px; }
    label.noise.n2 {
      top: 760px; }

.draganddropimage {
  position: absolute;
  outline: none;
  z-index: 1
  /*
  &:focus,&.dragged{
    outline:10px solid transparentize(red,0.5);
  }
  &.can-drop{
    outline:10px dotted transparentize(#0F0, 0.8);
  }*/ }
  .draganddropimage.dropped {
    pointer-events: none;
    opacity: 0; }

#sharer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 100px;
  appearance: none;
  -webkit-appearance: none;
  color: transparent;
  background: url(../images/partager.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  border: none; }

.dropzone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.waiting {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  position: fixed; }

input[type=range] {
  -webkit-appearance: none;
  border: 0px solid transparent;
  background: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    background: none;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    background: transparent;
    border: none;
    border-radius: 10px;
    -webkit-transition: 1s; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -webkit-transition: 1s; }
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: 0;
    -moz-transition: 1s; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px; }

/*# sourceMappingURL=main.css.map */